.rouge {
	color: red;
}

.rouge p.small-elm: {
	front-size: 5px;
}

.docRef{
	color: green;
	text-transfor: uppercase
}

.docRef::after{
	content: "Référence du document"
	color: blue
	font-size: 5pt
}

.docRef:hover{
	font-weight: bolder;
}